    <link rel="stylesheet" href="/css/bootstrap.cartas.css">

    <main>
        <div class="conteiner_card">
            <div class="cardz"><img src="/img/perfil.micro.jpg" alt=""></div>
            <div class="cardz"><img src="/img/besta-de-dragao-mitico-no-estilo-anime_23-2151112835.avif" alt=""></div>
            <div class="cardz"><img src="/img/equipamento-ninja-de-tiro-completo_23-2150960967.avif" alt=""></div>
            <div class="cardz"><img src="/img/personagem-de-estilo-anime-no-espaco_23-2151134094.avif" alt=""></div>
            <div class="cardz"><img src="/img/uma-fada-de-anime-bonita_23-2151567548.avif" alt=""></div>
            <div class="cardz"><img src="/img/mergulhe-num-mundo-de-aventura-e-guerra-com-attack-on-titan_996353-50.jpg" alt=""></div>
            <div class="cardz"><img src="/img/um-pedaco-de-papel-de-parede-um-pedaco-de-papeis-de-parede-generativo-ai_1034059-63334.avif" alt=""></div>
            <div class="cardz"><img src="/img/personagem-de-estilo-anime-no-espaco_23-2151134224.avif" alt=""></div>
        </div>     
  </main>
    
