{{#if success_msg}}
<div class="alert alert-success"  style="width: 500px; position:absolute; left:50%; transform:translateX(-50%)">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class="alert alert-danger"  style="width: 500px; position:absolute; left:50%; transform:translateX(-50%)">{{error_msg}}</div>
{{/if}}